# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: GoV2

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:latest
        env:
          MARIADB_ROOT_PASSWORD: rootpassword
          MARIADB_DATABASE: url_db
          MARIADB_USER: explorer
          MARIADB_PASSWORD: explorerpassword
        ports:
          - 3306:3306
        options: --health-cmd="healthcheck.sh --connect --innodb_initialized" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.4"
          cache: true

      - name: Install migrate
        run: go install -tags 'mysql' github.com/golang-migrate/migrate/v4/cmd/migrate@latest

      - name: Run DB migrations
        run: |
          MIGRATE_PATH=$(go env GOPATH)/bin/migrate
          if [ -d "./migrations" ] && [ "$(ls -A ./migrations)" ]; then
            $MIGRATE_PATH -path ./migrations -database 'mysql://explorer:explorerpassword@tcp(127.0.0.1:3306)/url_db' up
          else
            echo "No migrations found, skipping."
          fi

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
        env:
          MARIADB_URI: explorer:explorerpassword@tcp(127.0.0.1:3306)/url_db?charset=utf8mb4&parseTime=True&loc=Local
